.newsletter {
    position: relative;

    .container {
        position: relative;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    &__image {
        margin-top: -4rem;
        max-width: 100%;

        @include media-breakpoint-up(lg) {
            margin-top: 0;
        }

        @include media-breakpoint-up(xl) {
            margin-top: -3rem;
        }
    }

    &__title {
        margin: 0 0 1.066666667rem 0;
        padding: 0;
        color: $white;
    }

    &__subtitle {
        font-size: 1rem;
        margin: 0 0 1.25rem;
        padding: 0;
        color: $text-highlight;
    }
}