---
layout: page_de
title: Blog
classes: page-blog
---

<div class="blog">
    <div class="row">
        <h2 class="blog__title col">
            Neueste Blogbeiträge
        </h2>
    </div>

    <div class="blog__items row">
        {% assign posts=site.posts | where:"lang", "de" %}
        {% for post in posts %}
        <div class="blog__item col-sm-10 offset-sm-1 col-md-6 offset-md-0">
            {% if post.thumbnail %}
            <a class="blog__item-link" href="{{ site.baseurl }}{{ post.url }}">
                <div class="blog__item-wrapper">
                    <img class="blog__item-image" src="{{ post.thumbnail }}" alt="{{ post.title }}" />
                </div>
                <img class="blog__item-dots" src="/assets/svg/dots-dark.svg" alt="Dots" />
            </a>
            {% endif %}

            {% if post.title %}
            <a class="blog__item-title" href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
            </a>
            {% endif %}

            {% if post.category %}
            <div class="blog__item-info">
                {{ post.category }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
