---
layout: page-redesign
title: Blog
title_thin: OpenMage
classes: page-blog
---

<div id="js-blog-page" class="blog-page">
    <div class="blog blog--last">
        <div class="container">
            <div class="row">
                <h2 class="blog__title col">
                    Last posts
                </h2>
            </div>

            <div class="blog__items row">
                {% assign posts=site.posts | where:"lang", "en" %}
                {% for post in posts %}
                    {% if post.show_in_blog_page_last_posts_section %}
                        <div class="blog__item blog__item--hide col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-xl-3">
                            {% if post.thumbnail %}
                            <a class="blog__item-link" href="{{ site.baseurl }}{{ post.url }}">
                                <div class="blog__item-wrapper">
                                    <img class="blog__item-image" src="{{ post.thumbnail }}" alt="{{ post.title }}" />
                                </div>
                                <img class="blog__item-dots" src="/assets/svg/dots-dark.svg" alt="Dots" />
                            </a>
                            {% endif %}

                            {% if post.title %}
                            <a class="blog__item-title" href="{{ site.baseurl }}{{ post.url }}">
                                {{ post.title }}
                            </a>
                            {% endif %}

                            {% if post.category %}
                            <div class="blog__item-info">
                                {{ post.category }}
                            </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="row">
                <div class="blog__show-more blog__show-more--hide col-12">
                    <div id="js-blog__show-more-link" class="blog__show-more-link">Load more</div>
                </div>
            </div>
        </div>
    </div>

    <div class="blog blog--pinned">
        <div class="container">
            <div class="row">
                <h2 class="blog__title col">
                    Pinned announcements
                </h2>
            </div>

            <div class="blog__items row">
                {% assign posts=site.posts | where:"lang", "en" %}
                {% for post in posts %}
                    {% if post.show_in_blog_page_pinned_posts_section %}
                        <div class="blog__item col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-xl-3">
                            {% if post.thumbnail %}
                            <a class="blog__item-link" href="{{ site.baseurl }}{{ post.url }}">
                                <div class="blog__item-wrapper">
                                    <img class="blog__item-image" src="{{ post.thumbnail }}" alt="{{ post.title }}" />
                                </div>
                                <img class="blog__item-dots" src="/assets/svg/dots-dark.svg" alt="Dots" />
                            </a>
                            {% endif %}

                            {% if post.title %}
                            <a class="blog__item-title" href="{{ site.baseurl }}{{ post.url }}">
                                {{ post.title }}
                            </a>
                            {% endif %}

                            {% if post.category %}
                            <div class="blog__item-info">
                                {{ post.category }}
                            </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>