.destination {
    margin-bottom: 3rem;

    &--store-owners {
        margin-top: 7rem;
    }

    &--developers {
        margin-bottom: 5rem;
    }

    &__wrapper {
        padding: 25px 30px 9px;
    }

    &__img {
        width: 532px;
    }
}