.involvement {
    &__wrapper {
        background: $bg-light;
        padding: 30px 20px 0;
        border-radius: 0px 23px 0px 0px;
    }

    &__title {
        @include title('small');
        text-align: center;
        margin-bottom: 2rem;
    }

    &__description {
        text-align: left;
    }

    &__button-wrapper {
        @include button-at-end();
        padding-top: 1.5rem;
    }

    &__button-text {
        margin-right: 8px;
    }

    &__button-icon {
        &--edit {
            position: relative;
            width: 23px;
            top: -1px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    &__item-text {
        width: calc(100% - 80px);
    }
}

@include media-breakpoint-up(lg) {
    .involvement {
        &__item-text {
            padding-right: 15px;
        }
    }
}

@include media-breakpoint-up(xl) {
    .involvement {
        &__item-text {
            padding-right: 0;
        }
    }
}