.supported-versions-info {
    margin-top: 5rem;
    margin-bottom: 1rem;

    .get-involved {
        margin-top: 4rem;
        margin-bottom: 3.5rem;

        &--de {
            .get-involved__bg {
                top: 35px;
            }
        }
    }
}

@media (min-width: 360px) {
    .supported-versions-info {
        .get-involved {
            &--de {
                .get-involved__bg {
                    top: 17px;
                }
            }
        }
    }
}

@media (min-width: 410px) {
    .supported-versions-info {
        .get-involved {
            &--de {
                .get-involved__bg {
                    top: 5px;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .supported-versions-info {
        margin-top: 4rem;
        margin-bottom: 2rem;

        &__desc {
            margin-top: 2rem;
        }

        .get-involved {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

@include media-breakpoint-up(xl) {
    .supported-versions-info {
        margin-top: 5rem;
        margin-bottom: 3.5rem;
    }
}