.supported-versions-info {
    margin-top: 5rem;
    margin-bottom: 1rem;

    .get-involved {
        margin-top: 4rem;
        margin-bottom: 3.5rem;
    }
}

@include media-breakpoint-up(lg) {
    .supported-versions-info {
        margin-top: 4rem;
        margin-bottom: 2rem;

        &__desc {
            margin-top: 2rem;
        }

        .get-involved {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

@include media-breakpoint-up(xl) {
    .supported-versions-info {
        margin-top: 5rem;
        margin-bottom: 3.5rem;
    }
}