.gallery {
    margin-top: 2rem;

    &__title {
        @include title('alternative');
        letter-spacing: .5px;
        font-weight: normal;
        font-style: italic;
        text-align: center;
    }
}