.header {
    position: absolute;
    width: 100%;
    z-index: 100;

    @include media-breakpoint-up(lg) {
        background: $white;
        position: relative;
    }

    .lang-switch {
        position: absolute;
        top: 0;
        right: 80px;
        z-index: 1;
    }
}

@include media-breakpoint-up(lg) {
    .header {
        .container {
            padding-left: 0;
            padding-right: 0;
        }

        .navbar-nav {
            margin-left: 15px !important;
        }

        .navbar-brand {
            padding-top: .2rem;
            padding-bottom: .35rem;
        }

        .lang-switch {
            right: 76px;
        }
    }
}

@include media-breakpoint-up(xl) {
    .header {
        .container {
            padding-left: 15px;
            padding-right: 15px;
        }

        .navbar-nav {
            margin-left: auto !important;
        }

        .navbar-brand {
            padding-top: .3125rem;
            padding-bottom: .3125rem;
        }

        .lang-switch {
            right: 94px;
        }
    }
}