---
---
// core variables and mixins
@import "core/variables";
@import "core/utilities/mixins/center-item";
@import "core/utilities/mixins/button-at-end";

// bootstrap
@import "bootstrap/bootstrap";

// core styles
@import "core/core";
@import "core/typography/typography";

// skin styles
@import "header/header";
@import "header/navbar";
@import "header/lang-switch";
@import "header/view-on-github";
@import "hero/hero";
@import "page-intro/page-intro";
@import "footer/footer";
@import "card/card";
@import "card-icon/card-icon";
@import "custom-icon/custom-icon";
@import "roadmap/roadmap";
@import "active-info/active-info";
@import "contributor/contributor";
@import "contributor/maintainers";
@import "contributor/involvement";
@import "quotation/quotation";
@import "newsletter/newsletter";
@import "graphic-info/graphic-info";
@import "info-list/info-list";
@import "get-involved/get-involved";
@import "code-in-text/code-in-text";
@import "extra-info/extra-info";
@import "sidebar-menu/sidebar-menu";

// homepage sections
@import "blog/blog";

// subpages
@import "pages/blog-page/blog-page";
@import "pages/partners/partners/partners";
@import "pages/partners/meet-partners/meet-partners";
@import "pages/partners/store-fronts/store-fronts";
@import "pages/partners/payment-processors/payment-processors";
@import "pages/partners/join-freelancers/join-freelancers";
@import "pages/install/intro/intro";
@import "pages/install/instructions/instructions";
@import "pages/about/about/about";
@import "pages/about/intro/intro";
@import "pages/about/more-about/more-about";
@import "pages/about/eol/eol";
@import "pages/about/destination/destination";
@import "pages/about/gallery/gallery";
@import "pages/what-you-can-do/intro/intro";
@import "pages/what-you-can-do/target/target";
@import "pages/supported-versions/intro/intro";
@import "pages/supported-versions/table/table";
@import "pages/supported-versions/info/info";
@import "pages/changelog/intro/intro";
@import "pages/changelog/version/version";
@import "pages/changelog/item/item";
@import "pages/changelog/switcher/switcher";
@import "pages/changelog/items/items";
@import "pages/freelancers/freelancers";
@import "pages/blog-single-page/blog-single-page";