---
layout: partner
title: Partner Freelancers
---

<table>
    <tr>
        <th>Name</th>
        <th># of contributions</th>
        <th>contributions</th>
    </tr>
    {% for row in site.data.partners.freelancer %}
    <tr>
        <td>
            <a href="{{row.url}}">{{ row.name }}</a>
        </td>
        <td>
            {{ row.contributions | size }}
        </td>
        <td>
            <ul>
                {% for contribution in row.contributions %}
                <li>{{ contribution }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
</table>