.about-intro {
    margin-top: 3rem;
    margin-bottom: 4rem;

    &__title {
        @include title();
        text-align: center;
        margin-bottom: 1rem;
    }

    &__subtitle {
        @include title('small');
        text-align: center;
        margin-bottom: 3rem;
    }

    &__description-title {
        @include title('alternative');
        color: $text-dark;
        margin-bottom: .9rem;
    }

    .info-list {
        margin-top: 2.5rem;
    }
}

@include media-breakpoint-up(lg) {
    .about-intro {
        .info-list {
            margin-top: 0;
        }
    }
}