.changelog-item {
    background-color: #fff;
    box-shadow: $box-shadow;
    border: $box-border;
    border-radius: 0 22px 0 0;
    margin-bottom: 1rem;

    &__intro {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-right: 10px;
    }

    &__intro-label {
        transition: background-color 0.2s ease-in-out;
        background-color: #c2c2c2;
        width: 130px;
        text-align: right;
        padding: 10px 15px;
        margin-right: 15px;
    }

    &__intro:hover &__intro-label {
        background-color: $primary;
    }

    &__intro-label-text {
        position: relative;
        color: #fff;
        font-size: 1.1rem;

        &:before,
        &:after {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: calc(50% - 10px);
        }

        &:before {
            background: url('/assets/svg/minus-square.svg') center no-repeat;
            display: none;
        }

        &:after {
            background: url('/assets/svg/plus-square.svg') center no-repeat;
        }
    }

    &__intro-text {
        margin-top: 2px;
        line-height: 1.2;
    }

    &__wrapper {
        display: none;
        padding: 22px 20px 0;
    }

    &__button {
        padding-top: .5rem;
        margin-bottom: -1.1rem;
    }

    &__button-icon {
        width: 21px;
        margin-left: 8px;
    }

    &.active {
        padding-top: 20px;
        margin-bottom: 2.15rem;
    }

    &.active &__intro-label {
        background-color: $primary;
        padding: 14px 15px;
    }

    &.active &__intro-label-text {
        font-size: 1.3rem;

        &:before {
            display: inline-block;
        }

        &:after {
            display: none;
        }
    }

    &.active &__wrapper {
        display: block;
    }
}

@media (min-width: 360px) {
    .changelog-item {
        &__intro {
            padding-right: 15px;
        }

        &__intro-label {
            padding: 9px 15px;
        }

        &__intro-text {
            margin-top: 0;
            line-height: 1.5;
        }
    }
}

@include media-breakpoint-up(lg) {
    .changelog-item {
        &__intro-label-text {
            &:before,
            &:after {
                display: none;
            }
        }
    }
}