.card {
    box-shadow: 4px 4px 12px #E3EDF6BD;
}

.card-title {
    @include title('alternative');
    color: $black;
}

.card-text {
    line-height: 1.5625;
}

.card-header {
    background: none;
}

.card-intro {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.card-intro-title {
    @include title('alternative');
    color: $text-dark;
    text-align: left;
    margin-bottom: 0;
    margin-left: 1.5rem;
}

.card-footer {
    padding: 0 $card-spacer-x;
    background: none;
    border: none;
    @include button-at-end();
}

// info cards
.info-cards {
    padding: 0 0 15px 0;

    @include media-breakpoint-up(lg) {
        padding: 55px 0;
    }

    .card {
        height: 100%;
    }
}