---
layout: default_de
---
<div class="page-intro bg-dark-gradient">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="page-intro__title-wrapper">
                    <h1 class="page-intro__title">
                        {% if page.title %}<b>{{ page.title }}</b>{% endif %}{% if page.title_thin %} {{ page.title_thin }}{% endif %}
                    </h1>
                    {% if page.author %}
                        <div class="page-intro__author">
							{% assign m = page.date | date: "%-m" %}
							{{ page.date | date: "%d" }}
							{% case m %}
							  {% when '1' %}Jan.
							  {% when '2' %}Feb.
							  {% when '3' %}M&auml;rz
							  {% when '4' %}Apr.
							  {% when '5' %}Mai
							  {% when '6' %}Jun.
							  {% when '7' %}Jul.
							  {% when '8' %}Aug.
							  {% when '9' %}Sept.
							  {% when '10' %}Okt.
							  {% when '11' %}Nov.
							  {% when '12' %}Dez.
							{% endcase %}
							{{ page.date | date: "%Y" }} - {{ page.author }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="{% if page.classes %}{{ page.classes }} {% endif %}page-container container">
    <div class="row">
        <div class="col">
            {{content}}
        </div>
    </div>
</div>
