---
layout: default_de
---

<div class="page-intro bg-dark-gradient">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="page-intro__title-wrapper">
                    <h1 class="page-intro__title">
                        {% if page.title %}<b>{{ page.title }}</b>{% endif %}{% if page.title_thin %} {{ page.title_thin }}{% endif %}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

{{content}}
