---
layout: blog-page_de
---

<div class="blog-single-page {% if page.classes %}{{ page.classes }} {% endif %}page-container container">
    <div class="row">
        <div class="col-12 col-xl-9">
            <div class="blog-single-page__wrapper">
                <div class="blog-single-page__intro row">
                    {% if page.thumbnail %}
                    <div class="blog-single-page__intro-image-wrapper col-lg-4">
                        <img class="blog-single-page__intro-image" src="{{ page.thumbnail }}" alt="{{ post.title }}" />
                        <img class="blog-single-page__intro-dots" src="/assets/svg/dots-dark.svg" alt="Dots">
                    </div>
                    {% endif %}

                    <div class="blog-single-page__intro-info col-lg-8">
                        {% if page.title %}
                        <h2 class="blog-single-page__intro-title">
                            {{ page.title }}
                        </h2>
                        {% endif %}

                        {% if page.category %}
                        <div class="blog-single-page__intro-row">
                            <span class="blog-single-page__intro-label">Kategorie:</span> <span class="blog-single-page__intro-text">{{ page.category }}</span>
                        </div>
                        {% endif %}

                        {% if page.date %}
                            <div class="blog-single-page__intro-row">
                                <span class="blog-single-page__intro-label">Datum:</span>
                                <span class="blog-single-page__intro-text">
                                    {% assign m = page.date | date: "%-m" %}
                                    {{ page.date | date: "%d" }}
                                    {% case m %}
                                        {% when '1' %}Jan.
                                        {% when '2' %}Feb.
                                        {% when '3' %}M&auml;rz
                                        {% when '4' %}Apr.
                                        {% when '5' %}Mai
                                        {% when '6' %}Jun.
                                        {% when '7' %}Jul.
                                        {% when '8' %}Aug.
                                        {% when '9' %}Sept.
                                        {% when '10' %}Okt.
                                        {% when '11' %}Nov.
                                        {% when '12' %}Dez.
                                    {% endcase %}
                                    {{ page.date | date: "%Y" }}
                                </span>
                            </div>
                        {% endif %}

                        {% if page.author %}
                        <div class="blog-single-page__intro-row">
                            <span class="blog-single-page__intro-label">Autor:</span> <span class="blog-single-page__intro-text">{{ page.author }}</span>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="blog-single-page__content">
                    {{ content }}
                </div>
            </div>
        </div>

        <div class="blog-single-page__sidebar col-12 col-xl-3">
            <div class="sidebar-menu card">
                <div class="row">
                    <div class="sidebar-menu__item sidebar-menu__item--category col-12 col-lg-3 col-xl-12">
                        <div class="sidebar-menu__item-title">
                            Kategorie
                        </div>

                        <ul class="sidebar-menu__category">
                            <li class="sidebar-menu__category-item">
                                <a class="sidebar-menu__category-link" href="/de/blog-updates">Updates</a>
                            </li>
                            <li class="sidebar-menu__category-item">
                                <a class="sidebar-menu__category-link" href="/de/blog-patches-and-addons">Patches & addons</a>
                            </li>
                            <li class="sidebar-menu__category-item">
                                <a class="sidebar-menu__category-link" href="/de/blog-community">Community</a>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar-menu__item sidebar-menu__item--posts col-12 col-lg-6 col-xl-12">
                        <div class="sidebar-menu__item-title">
                            Neueste Blogbeiträge
                        </div>

                        <ul class="sidebar-menu__posts">
                            {% assign posts=site.posts | where:"lang", "de" %}
                            {% for post in posts limit:4 %}
                            {% if post.show_in_blog_page_last_posts_section %}
                            <li class="sidebar-menu__posts-item">
                                {% if post.title %}
                                <a class="sidebar-menu__posts-link" href="{{ site.baseurl }}{{ post.url }}">
                                    {{ post.title }}
                                </a>
                                {% endif %}
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="sidebar-menu__item sidebar-menu__item--shortcuts col-12 col-lg-3 col-xl-12">
                        <div class="sidebar-menu__item-title">
                            Verknüpfungen
                        </div>

                        <div class="sidebar-menu__shortcuts row">
                            <div class="sidebar-menu__shortcuts-wrapper col-sm-6 col-lg-12">
                                <div class="sidebar-menu__shortcuts-title">
                                    Community
                                </div>

                                <ul class="sidebar-menu__shortcuts-submenu">
                                    <li class="sidebar-menu__shortcuts-submenu-item">
                                        <a class="sidebar-menu__shortcuts-submenu-link" href="/de/partners">Partner</a>
                                    </li>
                                    <li class="sidebar-menu__shortcuts-submenu-item">
                                        <a class="sidebar-menu__shortcuts-submenu-link" href="/de/partners/freelancer.html">Freelancer</a>
                                    </li>
                                    <li class="sidebar-menu__shortcuts-submenu-item">
                                        <a class="sidebar-menu__shortcuts-submenu-link" href="/de/partners/what-you-can-do.html">Beteilige Dich</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="sidebar-menu__shortcuts-wrapper col-sm-6 col-lg-12">
                                <div class="sidebar-menu__shortcuts-title">
                                    OpenMage LTS
                                </div>

                                <ul class="sidebar-menu__shortcuts-submenu">
                                    <li class="sidebar-menu__shortcuts-submenu-item">
                                        <a class="sidebar-menu__shortcuts-submenu-link" href="/de/openmage/migration-guide.html">Migration</a>
                                    </li>
                                    <li class="sidebar-menu__shortcuts-submenu-item">
                                        <a class="sidebar-menu__shortcuts-submenu-link" href="/de/openmage/install.html">Installation</a>
                                    </li>
                                    <li class="sidebar-menu__shortcuts-submenu-item">
                                        <a class="sidebar-menu__shortcuts-submenu-link" href="/de/openmage/changelog/magento1-openmage-20_0.html">Changelog</a>
                                    </li>
                                    <li class="sidebar-menu__shortcuts-submenu-item">
                                        <a class="sidebar-menu__shortcuts-submenu-link" href="/de/supported-versions.html">Versionen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
